*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#wrapper{
    background-color: white;
    width:898px ;
    height: 3600px;
    margin: 0 auto;
    position: relative;
   
}
#container{
    width:828px;
    /* height: 3674px; */
    height: 3600px;
    margin: 0 auto;
   padding-top: 10px;
}
#background{
    width: 1026px;
    background-color: gainsboro;
    height: 3800px;
    padding-top: 75px;
}

/* ============================MENU================================ */
.info ul li {
    display: inline-block;
    list-style: none;
}
.info ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
    color: black;
}
#menu{
    display: flex;
    justify-content: space-between;
    height: 30px;

}
.logo span{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
/* ================================CLOTHINGAN================================ */
.clothingan h1{
    font-size: 120px;
    font-weight: bolder;


}
.clothingan{
    height: 130px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ========CONTENT 1======== */
.content_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
/* ========IMG BIG======== */
.img_big img{
    width: 100%;
    height: 402px;
    /* padding-bottom: 72px; */
}
/* ================================BEST SELLER================================ */
/* =====TITLE BEST SELLER */
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 72px;
    border-bottom: 2px solid black;
}
.title h1{
    padding-bottom: 24px;
}
.title a{
    color: black;
    text-decoration: none;
}
/* =====IMG BEST SELLER */
.img_BS{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 395px;
    column-gap: 15px;
    padding-top: 28px;

}
.items img{
    width: 265px;
    height: 350px;
}
.name{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}
.name span{
    padding-bottom: 15px;
}
/* =====IMG LATEST ARRIVALS */
.img_LS{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 395px;
    column-gap: 15px;
    padding-top: 28px;
}
/* =====IMG PARIS===== */
.img_paris img{
    margin-top: 63px;
    height: 377px;
    /* width: 899px; */
    width: 100%;
    position: absolute;
    /* right: 36px; */
    left: 0;
}
.img_paris{
    margin-bottom: 328px;
}

.text{
    color:white;
    /* font-weight: bold; */
    font-size: 30px;
    position: relative;
    text-align: center;
    top: 175px;
}
/* =====FASHION CATEGORY===== */
.item_fs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.img_FS1{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 252px;
    column-gap: 15px;
    padding-top: 28px;
}
.img_FS2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 340px;
    column-gap: 15px;
    padding-top: 28px;
}
/* =========================FOOTER=============================== */
#footer{
    margin-top: 71px;
    padding-left: 35px;
    padding-top: 39px;
    height: 338px;
    width: 898px;
    background-color: black;
    position: absolute;
    left: 0;
 
}
.grid_footer{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: 161px;
    column-gap: 67px;
}
.footer_top{
    display: flex;
    height: 158px;
    width: 825px;
    justify-content: space-between;
    color: aliceblue;
    font-size: 13px;
    margin-bottom: 70px;

} 
.item_footer ul li{
    list-style: none;
    padding-bottom: 18px;
    
}
.item_footer ul li a{
    color: grey;
    text-decoration: none;
}
.footer_left h2{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    
}
 .item_footer h4{
    padding-bottom: 18px;
} 

.item_footer button{
    width: 150px;
    height: 27px;
}
.footer_left img{
    margin-top: 10px;
    margin-right: 10px;
}
/* ==========footer bottom =========*/
.footer_bottom{
    border-top: 2px solid grey;
    display: flex;
    justify-content: space-between;
    color: grey;
    width: 825px;
}
.footer_bottom span{
    margin-top: 23px;
    margin-bottom: 40px;
    font-size: 13px;
}

